body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}

.section1 {
    background-color: #1F2937;
}

#links {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.site-intro p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border: none;
    padding: 10px;
    border-radius: 12px;

}

#witch_woods {
    height: 250px;
    width: auto;
}

img {
    height: 200px;
    width: auto;
}